<mat-card class="auth-form">
  <mat-card-content>
    <div class="form-header">
      <img alt="logo" height="40" width="370" priority="true" [ngSrc]="'assets/images/logo-dark.svg'" />
      <h2>Изменение пароля</h2>
    </div>

    <form class="form-body" [formGroup]="form">
      <mat-form-field color="accent">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="form.controls.email" [readonly]="confirmationCodeFormIsVisible" />
        <mat-error *ngIf="form.controls.email.hasError('email')">{{ formErrors.email }}</mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">{{ formErrors.required }}</mat-error>
        <mat-error *ngIf="form.controls.email.hasError('maxlength')">{{ formErrors.maxLength }}</mat-error>
      </mat-form-field>

      <div *ngIf="!confirmationCodeFormIsVisible; else codeConfirmationForm" class="form-actions">
        <button mat-raised-button color="accent" (click)="sendConfirmationCode()">Отправить письмо с кодом подтверждения</button>
      </div>

      <ng-template #codeConfirmationForm>
        <ng-container *ngIf="!changePasswordFormIsVisible; else changePasswordForm">
          <mat-form-field color="accent">
            <mat-label>Код подтверждения</mat-label>
            <input matInput [formControl]="form.controls.confirmationCode" />
            <mat-error *ngIf="form.controls.confirmationCode.hasError('required')">{{ formErrors.required }}</mat-error>
            <mat-error *ngIf="form.controls.confirmationCode.hasError('maxlength')">{{ formErrors.maxLength }}</mat-error>
          </mat-form-field>

          <div class="form-actions">
            <button mat-raised-button color="accent" [disabled]="form.controls.email.invalid" (click)="confirmConfirmationCode()">
              Подтвердить код
            </button>
          </div>
        </ng-container>
      </ng-template>

      <ng-template #changePasswordForm>
        <mat-form-field color="accent">
          <mat-label>Новый пароль</mat-label>
          <input matInput type="password" [formControl]="form.controls.password" />
          <mat-error *ngIf="form.controls.password.hasError('required')">{{ formErrors.required }}</mat-error>
          <mat-error *ngIf="form.controls.password.hasError('maxlength')">{{ formErrors.maxLength }}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Подтверждение пароля</mat-label>
          <input matInput type="password" [formControl]="form.controls.passwordConfirmation" />
          <mat-error *ngIf="form.controls.passwordConfirmation.hasError('required')">{{ formErrors.required }}</mat-error>
          <mat-error *ngIf="form.controls.passwordConfirmation.hasError('maxlength')">{{ formErrors.maxLength }}</mat-error>
          <mat-error *ngIf="form.hasError('passwordMismatch')">{{ formErrors.passwordMismatch }}</mat-error>
        </mat-form-field>

        <div class="form-actions">
          <button mat-raised-button color="accent" (click)="changePassword()">Изменить пароль</button>
        </div>
      </ng-template>
    </form>
  </mat-card-content>
</mat-card>
