<mat-card class="auth-form">
  <mat-card-content>
    <div class="form-header">
      <img alt="logo" height="40" width="370" priority="true" [ngSrc]="'assets/images/logo-dark.svg'" />
    </div>

    <form [formGroup]="form">
      <ng-container *ngIf="!confirmationCodeFormIsVisible; else confirmationCodeForm">
        <mat-form-field color="accent">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="form.controls.email" />
          <mat-error *ngIf="form.controls.email.hasError('required')">{{ formErrors.required }}</mat-error>
          <mat-error *ngIf="form.controls.email.hasError('maxlength')">{{ formErrors.maxLength }}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" type="button" [disabled]="form.invalid" (click)="sendConfirmationCode()">
          Отправить письмо с кодом подтверждения
        </button>
      </ng-container>

      <ng-template #confirmationCodeForm>
        <ng-container *ngIf="!changePasswordFormIsVisible; else changePasswordForm"> </ng-container>
      </ng-template>

      <ng-template #changePasswordForm> </ng-template>
    </form>
  </mat-card-content>
</mat-card>
