mat-card.auth-form {
  top: 50%;
  left: 50%;
  max-width: 400px;
  transform: translateY(-50%) translateX(-50%);

  .form-header {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }

    h2 {
      margin: 15px auto;
    }
  }

  .form-body {
    display: flex;
    flex-direction: column;

    > * {
      margin-bottom: 15px;
    }
  }

  .form-actions {
    > button {
      width: 100%;
    }
  }

  .form-footer {
    display: inherit;
    text-align: center;
  }
}
