mat-card.auth-form {
  top: 50%;
  left: 50%;
  max-width: 400px;
  transform: translateY(-50%) translateX(-50%);

  .form-header {
    display: flex;

    > img {
      width: 100%;
      max-width: 300px;
      margin: 0 auto 30px auto;
    }
  }

  .form-body {
    display: flex;
    flex-direction: column;

    > * {
      margin-bottom: 15px;
    }
  }

  .form-footer {
    display: inherit;
    text-align: center;
  }
}
