<mat-card class="auth-form">
  <mat-card-content>
    <div class="form-header">
      <img alt="logo" height="40" width="370" priority="true" [ngSrc]="'assets/images/logo-dark.svg'" />
      <h2>Регистрация</h2>
    </div>

    <form class="form-body" [formGroup]="form">
      <mat-form-field color="accent">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.hasError('required')">{{ formErrors.required }}</mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">{{ formErrors.email }}</mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('maxLength')">{{ formErrors.maxLength }}</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Имя пользователя</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="form.get('username')?.hasError('required')">{{ formErrors.required }}</mat-error>
        <mat-error *ngIf="form.get('username')?.hasError('maxLength')">{{ formErrors.maxLength }}</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">{{ formErrors.required }}</mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('maxLength')">{{ formErrors.maxLength }}</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Подтверждение пароля</mat-label>
        <input matInput type="password" formControlName="passwordConfirmation" />
        <mat-error *ngIf="form.controls.passwordConfirmation.hasError('required')">{{ formErrors.required }}</mat-error>
        <mat-error *ngIf="form.controls.passwordConfirmation.hasError('maxLength')">{{ formErrors.maxLength }}</mat-error>
        <mat-error *ngIf="form.hasError('passwordMismatch')">{{ formErrors.passwordMismatch }}</mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="accent" type="button" [disabled]="form.invalid" (click)="submitForm()">
          Создать учетную запись
        </button>
      </div>
    </form>
    <span class="form-footer">Уже есть учетная запись?&nbsp;<a [routerLink]="AppPath.LOGIN">Войти</a></span>
  </mat-card-content>
</mat-card>
